html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  overscroll-behavior-y: none;
  background-color: #f3f3f3;
}


.App {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .scroll {
    padding: 2vh 0;
    pointer-events: none;
  }
  .img-container {
    width: 66vw;
    height: 66vw;
    overflow: hidden;
    position: relative;
    margin: 15vw auto 5vw auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-child(1) {
      margin-top: 15vw;
    }
    @media (max-width: 480px) {
      width: 95vw;
      height: 95vw;
    }
    img {
      width: 100%;
      position: absolute;
    }
  }
  .caption {
    margin-left: auto;
    margin-right: 16.5vw;
    padding-top: 0.5em;
    width: max-content;
    border-top: 2px solid black;
    display: flex;
    justify-content: right;
    flex-direction: column;
    @media (max-width: 480px) {
      width: 47.5vw;
      margin-right: 2.5vw;
    }
    h2, h3 {
      display: block;
      font-size: clamp(0.75rem, 1vw, 1rem);
      letter-spacing: -0.05em;
      margin: 0;
      span {
        font-weight: 300;
        display: block;
      }
    }
  }
}
